body {
    min-width:400px;
    margin:0;
}
header {
    padding: 9px;
    border-bottom: 1px silver solid;
    height: 45px;
}

.logo {
    width: 48px;
    height: 48px;
    padding: 2px;
    float: left;
}

.htitle {
    position: relative:;
    margin: auto;
    padding-bottom:5px;
    font-variant: small-caps;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: middle
}

.descr {
    font-size: 0.8rem;
    font-family: sans-serif;
    
}

main {
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.searchbox {
    font-style: italic;
    padding-right: 5px;
    width: 98%;
    height: 35px;
    border: 1px solid #807c7c;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding-right: 5px;
    width: 98%;
    height: 35px;
    background-color: #d66a0e;
    color: white;
    border: 1px solid #807c7c;
    border-radius: 5px;
    font-size: 1.1rem;
}

button:hover {
    background-color: #f29e05;
    color: black;
    transition-duration: .3s;
}

button:active {
    background-color: #d66a0e;
    color: white;
    transition-duration: .3s;
}

::placeholder {
    color: lightgrey;
}

/* Without https://www.w3schools.com/howto/howto_css_custom_checkbox.asp the checkboxes would be ugly. */

.database-select {
    margin: 10px;
}

.search-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.search-check input  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.search-select
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: lightgray;
}

.search-check:hover input ~ .checkmark {
    background-color: darkgray;
}

.search-check input:checked ~ .checkmark {
    background-color: #d66a0e;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.search-check input:checked ~ .checkmark:after {
    display: block;
}

.search-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.row {
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:#eee;
    padding:0;
    height:100vh;
    
}

aside {
    display: inline;
    float:right;
    padding:10px;
    background-color: white;
    margin:30px 40px 5px 5px; 
    border:1px solid navy;
    border-radius: 5px;
}
.maincol {
    display:inline-table;
    width:70%;
    float:left;
    padding:20px;
    margin:30px 5px 30px 30px;
    background-color: white;
    border:1px solid navy;
    border-radius: 5px;
    
}
.indent {
    margin-left:20px;
    margin-right:20px;
}
tr {
    vertical-align: middle;
    height:45px;
    padding-top:15px;
}
tr:nth-child(even) {background: #eee}

td {
  padding-right:20px;  
    padding-left:5px;
}
